@model Library.Web.Models.Volume

@{
    ViewData["Title"] = "VolumeDetails";
}
<div><h2>@TempData["IsTaken"]</h2></div>
<a asp-action="CreateReservation" asp-route-id="@Model.Id">Új előjegyzés..</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Előjegyzések
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Reservations.OrderBy(b=> b.Start))
        {
            if (DateTime.Compare(item.End, DateTime.Now) > 0)
            {
                if (DateTime.Compare(item.Start, DateTime.Now) < 0)
                {
                    
                    <tr style="color:forestgreen">
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                    </tr>
                }
                else
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Start)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.End)
                        </td>
                    </tr>
                }

            }
        }
    </tbody>
</table>

<div>
    <a asp-action="BackToVolumes">vissza a kötetekhez</a>
</div>
